<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>搜索Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D37D45571E600B54009C2B50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37D45701E600B55009C2B50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37D457B1E600B55009C2B50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
